<a href="https://colab.research.google.com/github/ExploreUrSELF/internship/blob/main/bike_price_prediction1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Library

In [2]:

import numpy as np

In [3]:
import pandas as pd

import csv as DataFrame

In [6]:
df=pd.read_csv("Used_Bikes.csv")

get information about Dataframe

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

Get missing value drop

In [8]:
df=df.dropna()

get summary statistics

In [9]:
df.describe()

              price     kms_driven           age         power
count  3.264800e+04   32648.000000  32648.000000  32648.000000
mean   6.829542e+04   26344.625184      8.048211    213.511302
std    9.071860e+04   22208.527695      4.031700    134.428868
min    4.400000e+03       1.000000      1.000000    100.000000
25%    2.500000e+04   12000.000000      5.000000    150.000000
50%    4.300000e+04   20373.000000      7.000000    150.000000
75%    8.000000e+04   35000.000000     10.000000    220.000000
max    1.900000e+06  750000.000000     63.000000   1800.000000

Get categories and count of categorial variables

In [13]:
df[['brand']].value_counts()

brand
Bajaj              11213
Hero                6368
Royal Enfield       4178
Yamaha              3916
Honda               2108
Suzuki              1464
TVS                 1247
KTM                 1077
Harley-Davidson      737
Kawasaki              79
Hyosung               64
Benelli               56
Mahindra              55
Triumph               26
Ducati                22
BMW                   16
Jawa                  10
MV                     4
Indian                 3
Ideal                  2
Rajdoot                1
LML                    1
Yezdi                  1
dtype: int64

In [15]:
df[['bike_name']].value_counts()

bike_name
Bajaj Pulsar 150cc             2776
Bajaj Avenger Street 220       2531
Bajaj Avenger 220cc            2060
Royal Enfield Classic 350cc    1673
Hero Passion Pro 100cc         1432
                               ...
KTM Duke 200cc ABS                1
Kawasaki Versys 1000              1
Kawasaki Vulcan S 650cc           1
Kawasaki Z1000                    1
Yezdi Classic 250cc               1
Length: 471, dtype: int64

In [16]:
df[['owner']].value_counts()

owner
First Owner             29964
Second Owner             2564
Third Owner               108
Fourth Owner Or More       12
dtype: int64

Get column name

In [17]:
df.columns

Index(['bike_name', 'price', 'city', 'kms_driven', 'owner', 'age', 'power',
       'brand'],
      dtype='object')

Get shape of Dataframe

In [19]:
df.shape

(32648, 8)

Get encoding and categorical features

In [21]:
df.replace({'owner':{'First Owner':0,'Second Owner':1,'Third Owner':2,'Fourth Owner':3}},inplace=True)

In [22]:
#X =pd.get_dummies(X,colums=['Owner'],drop_first=True)

Define y(dependent or label or target variable) and X (independent or features or attribute variable

In [23]:
y=df['price']

In [24]:
y.shape

(32648,)

In [25]:
y

0         35000.0
1        119900.0
2        600000.0
3         65000.0
4         80000.0
           ...
32643     39000.0
32644     30000.0
32645     60000.0
32646     15600.0
32647     22000.0
Name: price, Length: 32648, dtype: float64

In [42]:
X=df[['bike_name', 'price', 'kms_driven', 'owner', 'age', 'power',
       'brand']]

or use drop function to define X

In [27]:
#X=df.drop(['brand','price'],axis=1)

In [28]:
X.shape

(32648, 8)

In [29]:
X

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,0,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,0,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,0,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,0,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,0,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,0,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,0,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,0,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,0,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,0,13.0,150.0,Bajaj

Get train Test Split

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X_train,X_test,y_train,y_test= train_test_split (X,y,test_size=0.3,random_state=2529)

In [35]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((22853, 8), (9795, 8), (22853,), (9795,))

Get model train

In [47]:
from sklearn.linear_model import LinearRegression

In [48]:
lr= LinearRegression()

In [49]:
lr.fit(X_train,y_train)

ValueError: ignored

Get model prediction

In [50]:
y_pred=lr.predict(X_test)

ValueError: ignored

In [ ]:
y_pred.shape

In [ ]:
y_pred

Get model evaluation

In [ ]:
from sklearn.metrics import mean_sqaured_error,mean _absolute_error,r2_score

In [ ]:
mean_sqaured_error(y_test,y_pred)

In [ ]:
mean_absolute_error(y_test,y_pred)

In [ ]:
r2_score(y_test,y_pred)

Get visualization of actual VS Predicted Results

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(y_test,y_pred)
plt.xlabel("Actual Prices")
plt.ylabel("Predicted Prices")
plt.title("Actual Prices vs Predicted Prices")
plt.show()

get future predictions

In [ ]:
df_new=df.sample(1)

In [ ]:
df_new

In [ ]:
df_new.shape

In [ ]:
X_new=df_new.drop(['brand','model','selling_price'],axis=1)

In [ ]:
y_pred_new=lr.predict(X_new)

In [ ]:
y_pred_new